version: '3'
 
services:
  db:
    image: mysql:5.7
    container_name: db
    environment:
      MYSQL_DATABASE: osu
      MYSQL_ROOT_PASSWORD: osu
    ports:
      - "0.0.0.0:3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_USER: osu
      PMA_PASSWORD: osu
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 0.0.0.0:8081:80
volumes:
  dbdata: